/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2B99FF;
  --ifm-color-primary-dark: rgb(33, 175, 144);
  --ifm-color-primary-darker: rgb(31, 165, 136);
  --ifm-color-primary-darkest: rgb(26, 136, 112);
  --ifm-color-primary-light: rgb(70, 203, 174);
  --ifm-color-primary-lighter: rgb(102, 212, 189);
  --ifm-color-primary-lightest: rgb(146, 224, 208);
  --ifm-code-font-size: 95%;

  --ifm-h3-font-size: 1.125rem;

  --ifm-navbar-height: auto;
  --ifm-navbar-shadow: none;
  --ifm-navbar-padding-vertical: 2rem;
  --ifm-navbar-padding-horizontal: 9.7222vw;
  --ifm-navbar-link-color: rgba(49, 56, 62, 1);
  --ifm-navbar-item-padding-horizontal: 1rem;

  --ifm-footer-padding-vertical: 40px;
  --ifm-footer-background-color: rgba(255, 255, 255, 1);

  --ifm-font-family-base: Roboto, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  --main-modules-gap: 120px;
  --main-modules-width: 63.8888vw;
}

@media (max-width: 996px) {
  :root {
    --main-modules-width: calc(100vw - 2rem);
    --main-modules-gap: 60px;
    --ifm-navbar-padding-horizontal: 16px;
  }
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

@import "./layout.css";

/* Roboto Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
